/* styles/globals.css */
@font-face {
  font-family: 'yekanbakh';
  src: url('/font/yekanbakh.TTF');

}
@font-face {
  font-family: 'yekanbakh-black';
  src: url('/font/YekanBakh-Black.ttf');

}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  /* background-color: #fff; */
  background-color: #fff;
  color: #000;
}
